:root {
    --nextMoveTime: 1s;
    --containterBGC: rgba(0, 0, 0, 0.24);
    --mainColor: burlywood;
    --mainColorDark: rgb(141, 114, 78);
    --mainColorLight: rgb(248, 206, 150);
}

* {
    outline: none;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.innerMainCon {
    background: var(--mainColor);
    height: 100%;
}

.subContainer {
    width: 100%;
    background: var(--containterBGC);
    margin-top: 10px;
}

.contentHeader {
    width: 100%;
    background: var(--containterBGC);
}

.contentHeader h1 {
    text-align: center;
}

.contentContent {
    padding: 10px;
}

.contentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--containterBGC);
}
.contentFooter h1 {
    text-align: center;
}

.next {
    position: absolute;
    bottom: 15px;
    right: 5px;
    height: 50px;  
    width: 50px;
    text-align: right;
    font-size: 40px;
    border-radius: 1000px;
    border: 2px solid black;
    transition: width var(--nextMoveTime);
    overflow: hidden;

    background: rgb(0, 77, 0);
    color: white;
}
.next::before {
    content: attr(data-before);
    margin-right: 10px; 
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 5px;
    opacity: 0;
    transition: opacity var(--nextMoveTime);
}
.next:hover::before {
    opacity: 1;
}

.placeInfo {
    padding-bottom: 5px;
}
.placeInfo h2, .placeInfo p {
    text-align: center;
}

.actions {
    display: flex;  
    grid-template-columns: auto auto auto auto; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.actions button {
    width: 100px;  
    height: 100px;  
    margin: 5px;
    border-radius: 20px;
    border: solid black 2px;
    background: var(--mainColorLight);
}
.actions button:hover {
    background: var(--mainColor);
}
.actions button:active {
    background: var(--mainColorDark);
}