:root {
    --nextMoveTime: 1s;
    --containterBGC: rgba(0, 0, 0, 0.24);
    --mainColor: burlywood;
    --mainColorDark: rgb(141, 114, 78);
    --mainColorLight: rgb(248, 206, 150);
    --mainBorderStyle: solid black 2px;
    --equipedOutlineColor: rgb(0, 153, 255);
    --undropable: grey;
    --undropableTxtColor: rgb(56, 56, 56);
    --hpUnder: rgb(100, 0, 0);
    --hpUpper: rgb(200,0,0);
    --mpUnder: rgb(0, 0, 100);
    --mpUpper: rgb(0,0,200);
}

* {
    outline: none;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.innerMainCon {
    background: var(--mainColor);
    height: 100%;
}

.subContainer {
    background: var(--containterBGC);
    margin-top: 10px;
    padding: 5px; 
}

.contentHeader {
    width: 100%;
    background: var(--containterBGC);
}

.contentHeader h1 {
    text-align: center;
}

.contentContent {
    height: 100%;
    padding: 10px;
}

.contentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--containterBGC);
}
.contentFooter h1 {
    text-align: center;
}

.next {
    position: absolute;
    bottom: 15px;
    right: 5px;
    height: 50px;  
    width: 50px;
    text-align: right;
    font-size: 40px;
    border-radius: 1000px;
    border: 2px solid black;
    transition: width cubic-bezier(0.42, 0, 0.56, 1.65) var(--nextMoveTime);
    overflow: hidden;

    background: rgb(0, 77, 0);
    color: white;
}
.next.goBack {
    background: #910000;
    bottom: 70px;
}
.next::before {
    content: attr(data-before);
    margin-right: 10px; 
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 5px;
    opacity: 0;
    transition: opacity var(--nextMoveTime);
}
.next:hover::before {
    opacity: 1;
}

.placeInfo {
    padding-bottom: 5px;
}
.placeInfo h2, .placeInfo p {
    text-align: center;
}

.actions {
    display: flex;  
    grid-template-columns: auto auto auto auto; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 75%;
    overflow-y: overlay;
}
.actions .decorateBtn {
    width: 100px;  
    height: 100px; 
}
.decorateBtn { 
    margin: 5px;
    border-radius: 20px;
    border: var(--mainBorderStyle);
    background: var(--mainColorLight);
}
.decorateBtn:hover {
    background: var(--mainColor);
}
.decorateBtn:active {
    background: var(--mainColorDark);
}
.decorateBtn.equiped {
    background: radial-gradient(var(--mainColorLight) 60%, var(--equipedOutlineColor));
}
.decorateBtn.equiped:hover {
    background: radial-gradient(var(--mainColor) 60%, var(--equipedOutlineColor));
}
.decorateBtn.equiped:active {
    background: radial-gradient(var(--mainColorDark) 60%, var(--equipedOutlineColor));
}
.decorateBtn.undropable {
    background: radial-gradient(var(--mainColorDark) 60%, var(--undropable));
    color: var(--undropableTxtColor);
}
.decorateBtn.undropable:hover {
    background: radial-gradient(var(--mainColorDark) 60%, var(--undropable));
}

.statusBar {
    height: 20px;
    width: 100%;
    background: black;
}

::-webkit-scrollbar {
    display: block;
    width: 7px
}
::-webkit-scrollbar-thumb { 
    background: var(--mainColorLight);
    border-radius: 10px;
}